<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aliyun.OSS.SDK" version="2.14.1" targetFramework="net471" />
  <package id="Aliyun.OSS.SDK.NetCore" version="2.14.1" targetFramework="net471" />
  <package id="EPPlus" version="8.0.0-beta" targetFramework="net471" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.2" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net471" />
  <package id="System.Formats.Asn1" version="9.0.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="9.0.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>